@model EpamTask5.Models.Manager

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div id="managerInfoSection" class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "managerForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        }
    </div>
    <div id="ManagerLineChartAll" class="col-md-12" style="height: 500px;"></div>
</div>
<script type="text/javascript">
    $("#ManagerInfo form").on("submit", function (event) {
        event.preventDefault();
        var formData = $(this).serialize();

        $.post('@Url.Action("Edit", "Manager")',
            formData,
            function (data, textStatus, XHR) {
                hideManagerDetails();
                onManagerListLoad();
            });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}